﻿body {
    background-image:url(../pic/4.4.jpg);
    
}
.noidung{
    text-align:center;
    border:groove;
    margin-top:80px;
    margin-left:auto;
    margin-right:auto;
    width:450px;
    height:400px;
    background-color:white;
}
