﻿body {
    background-color: #b5d4ed
}
.TopPannel{
  width: 100%;
  height: 230px;
  background-color:#210e29;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  opacity: 0.8; /* thằng này để là mờ lớp menu */
  
}
.TopTable{
    width: 100%;
    height: 160px;
}
/*footer*/
.topmenu{
    float:right;
    width: auto;
    padding-top:10px;
}
.topmenu li{
    float:left;
    border-left: 1px solid #ffffff;
    padding: 0 8px;

    line-height:12px;
    list-style-type:none;
}
#footer{
   background-color:#242424;
   color:#744c24;
   width:100%;
   font-weight:bolder; 
   text-align:center; 
   font-size:15px;
   height:40px;
   line-height:40px;
   
}
/*Reg+Log*/
.usermenu{
    float: right;
    margin-top: 20px;
    line-height:0px;
    padding-right:20px;

}
/*
    .usermenu li{
    float: left;
    margin-left:0px;
    
    list-style-type:none;
}



.usermenu li:first-child{
    margin-left: 50px;
}


.usermenu li a{
    float: left;
    padding-left: 30px;
    color: #fff;
}
*/
/*sản phẩm*/
.hot{
     margin:30px 50px 50px 50px; 
     list-style-type:none;
 }