﻿body {
    font-family: sans-serif;
    background-image: url(../pic/4.4.jpg);
    
}
.noidung{
    text-align:center;
    border:groove;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    width:700px;
    background-color:white;
}
