﻿*{
    margin:0;
    padding:0;
}
body{
    font-family: sans-serif;
    color:#333;
    background-image:url(../pic/4.4.jpg);
}
.logo{
    float: left;
    position: relative;
    padding: 10px 50px;
    

}
.menu{
   /*background-image:url(../pic/2.2.jpg);*/ 
    width:100%;
    height:150px;
}
.topmenu{
    float:right;
    width: auto;
    padding-top:10px;
}
.topmenu li{
    float:left;
    border-left: 1px solid #ffffff;
    padding: 0 8px;

    line-height:12px;
    list-style-type:none;
}
.topmenu li:first-child{
    border: none;
    padding-left:0px;
}
.topmenu li:last-child{
    margin-right: 0;
    padding-right: 0;

}
.topmenu li a{
   display: block;
   line-height: 12px;
   
   color:#744c24;
   width:100%;
   
   text-align:center; 
   font-size:15px;
   height:20px;
   line-height:20px;
}
.topmenu li a:hover{
    color: #f7544a;

}
.usermenu{
    float: right;
    padding-left:700px;
    padding-top: 15px;
    line-height:0px;
    

}
.usermenu li{
    float: left;
    margin-left:0px;
    
    list-style-type:none;
}



.usermenu li:first-child{
    margin-left: 50px;
}
/*.usermenu li::first-line{
    margin-left: 0px;
}*/

.usermenu li a{
    float: left;
    padding-left: 30px;
    color: #fff;
}

.usermenu li a.log{
    background-image:url(../pic/loginbg.png);
    background-repeat:no-repeat;

}
.usermenu li a.reg{
    background-image:url(../pic/regbg.png);
    background-repeat:no-repeat;


}
/*Search*/

/*dropmenu ở đấy */

#menu2 ul {
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  width: 100%;
  
}
#menu2 li{
  
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
}
#menu2 a {
  text-decoration: none;
  color: #fff;
  display: block;
}
#menu2 a:hover {
  
  background: #F1F1F1;
  color: #333;
  
}

#footer{
   background-color:#242424;
   color:#744c24;
   width:100%;
   font-weight:bolder; 
   text-align:center; 
   font-size:15px;
   height:40px;
   line-height:40px;
   
}
#fixNav{
  width: 100%;
  height: 160px;
  background-color:#210e29;
  display: block;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.5); /*Đổ bóng cho menu*/
  position: fixed; /*Cho menu cố định 1 vị trí với top và left*/
  top: 0; /*Nằm trên cùng*/
  left: 0; /*Nằm sát bên trái*/
  z-index: 100000; /*Hiển thị lớp trên cùng*/
  opacity:0.6; /* thằng này để là mờ lớp menu */
}
.productname{
    float: left;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #2f2f2f;
    margin-bottom: 10px;
    color: #333333;

}.products .price{
     float: left;
     width: 100%;
     color: #ff1e2c;
     text-align: center;
     font-weight: 500;
     margin-bottom: 15px;
     font-size: 20px;
     line-height: 24px;

 }
 .products .button_group{
     
     margin-bottom: 10px;
     width: 100%;
     text-align: center;

 }
 .products .button{
     margin: 0 3px 5px 3px;

 }
 .products .button .fa{
     color: #f7544a;

 }
 .products .button:hover{
     background: #f7544a;
     color: #fff;

 }
 .products .button:hover .fa{
     color: #fff;

 }
 
 .hot{
     margin:50px 50px 50px 50px; 
     list-style-type:none;
 }